/*CSS for all pages*/
body {
  background: #DADED4;
}

h1, h2, h3, p{
  font-family: Arial, Helvetica, sans-serif;
  #line-height: 1.5;
}

h3{
  margin: 10px 0;
}

strong{
  font-weight: 900;
}

/*navigation bar for all three pages*/
#main-navbar {
  font-family: 'Lilita One', cursive;
  font-size: 20px;
  background-color: #4D774E;
  overflow: hidden;
  width: 100%;
}
#navbar-container {
  float: left;
  width: 100%;
  position: relative;
}
#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}
#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

li{
  line-height: 1.5;
}

#main-navbar ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #9DC88D;
  text-decoration-thickness: 5px;
}
#onpage {
  background-color: #9DC88D;
}


/*CSS for page 1*/
#wrapper-page1 {
  background-color: #CCC;
	width: 960px;
	margin: 0 auto;
}

#main {
	float: left;
	width: 520px;
	margin: 0;
	margin-left: 220px;
	margin-right: 20px;
	display: inline;
}

#main h1, h2, p{
  line-height: 1.5;
}

#container-1 {
	float: left;
	width: 960px;
  height: 200px;
  margin: 0;
  margin-top: 5%;
  background-image: url('../images/background.png');
}

#page1-h1{
  padding-top: 4%;
  text-align: center;
  font-family: 'Roboto';
  color: white;
  font-size: 50px;
}

#container-2 {
  background-color: #FAF9F6;
	float: left;
	width: 480px;
	margin: 48px 28.8px 0 48px;
}

.p1{
  float: left;
  width: 10em;
  padding: 25px;
  margin-left: 30px;
}

.p2{
  float: left;
  width: 10em;
  padding: 25px;
  margin-right: 30px;
}

.p3{
  clear: both;
  float: left;
  width: 10em;
  padding: 25px;
  margin-left: 30px;
}

.p4{
  float: left;
  width: 10em;
  padding: 25px;
  margin-right: 30px;
}

#container-3{
  background-color: #FAF9F6;
	float: left;
	width: 288px;
  margin: 48px 48px 48px 28.8px;
  padding: 2%;
}

#container-4{
  background-color: #FAF9F6;
	float: left;
	width: 825.6px;
  margin: 48px;
  padding: 2%;
}

#container-5{
  background-color: #FAF9F6;
	float: left;
	width: 364.8px;
  margin: 0 28.8px 0 48px;
  padding: 2%;
}

#container-6{
  background-color: #FAF9F6;
	float: left;
	width: 364.8px;
  margin: 0 48px 48px 28.8px;
  padding: 2%;
}

.video{
  margin: 48px;
  border: 3px solid black;
  border-radius: 8px;
  
}

/*CSS for page 2*/
#wrapper-page2 {
	width: 960px;
	margin: 0 auto;
}

#main-page2 {
  clear: both;
  background-color: #FAF9F6;
	width: 100%;
	margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 20px 30px 20px 30px;
  width: 816px;
  height: 1220px;
  font-size: 11px;
  line-height: 1;
}

#page2-h1{
  float: left;
  padding: 2px;
  width: 500px;
  margin: 92px 2px 42px 40px;
  font-family: 'Roboto';
  font-size: 50px;
}

#profile-picture{
  float: left;
  width: 6em;
  margin: 72px 42px 42px 2px;
}

.centered{
  text-align: center;
}

.border{
  border-top: 1px solid black;
  padding-top: 10px;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.clear{
  clear: both;
}


/*Fluid page layout for page 3 and other CSS*/
#page3-h1{
  float: left;
  padding: 0 0 0 15px;
  width: 375px;
  font-family: 'Roboto';
  font-size: 50px;
}

#page3-h2{
  float: left;
  padding: 0 0 0 15px;
}

#pg3{
  float: left;
  width: 15em;
}

#main-fluid {
	float: left;
	width: 90%;
	margin: 5% 5% 5% 5%;
}
   
#column1-fluid {
  clear: both;
	float: left;
	width: 43%;
	margin: 0 2% 5% 5%;
}
#column2-fluid {
	float: left;
	width: 43%;
	margin: 0 5% 5% 2%;
}

table{
  border-collapse: collapse;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

td, th {
	border: 1px solid;
  text-align: center;
  }

table th{
  padding: 10px;
  background-color: #9DC88D;
  border: 0px;
}

table td{
  padding: 8px;
}

.row1{
  background-color: #F8F8F8;
} 

.row2{
  background-color: #68B187;
}

tr:hover td{
  background-color: #FFF1CB;
} 

footer{
  clear: both;
  background-color: #4D774E;
  overflow: hidden;
  width: 100%;
  text-align: center;
  color: #fff;
}


